/**
 * Main styles for: minnpost-minimum-wage-timeline
 *
 * Make the default styles for a 640px wide screen.  A mobile
 * first approach is fine, but starting with a 640px wide
 * screen means that older browsers that do not support
 * media queries will be fine as they are all desktop browsers.
 */


.minnpost-minimum-wage-timeline-inline-container.inline-processed {
  max-width: 920px;
  margin: 1em auto;


  .clear {
    clear: both;
  }
  .hidden {
    display: none;
  }

  /* Clearfix from http://nicolasgallagher.com/micro-clearfix-hack/ */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }
  .cf {
    *zoom: 1;
  }

  .footnote {
    font-size: .75em;
    font-style: italic;
    color: #414141;
    margin-top: 3em;
    border-top: 1px solid #BCBCBC;
    padding-top: 1em;
  }

  .vertical-timeline-container {

    .loading {
      width: 100%;
      text-align: center;
      margin: 2em 0;
      vertical-align: middle;
      min-height: 40px;
      background: transparent $loader-image center center no-repeat;
      font-size: 0.1px;
      color: transparent;
    }
  }





  // Breakpoints
  @media screen and (max-width: 768px) {
  }
}
